/* will change generic names to customised classNames */

@media only screen and (max-width:1075px) {
    .row {
        flex-direction: column;
    }

    .col-lg-6 {
        max-width: 75%;
    }

    .col-lg-5 {
        max-width: 75%;
    }

    #intro-right {
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 75px;
        margin-top: 75px;

    }

    #intro-left {
        padding-left: 3%;
        padding-right: 3%;
    }

    .col-md-9 {
        max-width: 100%;
    }

}

@media only screen and (max-width:833px) {
    .col-lg-6 {
        max-width: 85%;
    }

    .col-lg-5 {
        max-width: 85%;
    }
}

@media only screen and (max-width:767px) {
    .py-5 {
        margin-left: 10%;
        margin-right: 10%;
    }

    .col-lg-6 {
        max-width: 100%;
    }

    .col-lg-5 {
        max-width: 100%;
    }
}

@media only screen and (max-width:415px) {
    .col-lg-6 {
        padding-left: 0%;
        padding-right: 0%;
    }

    .container-xxl {
        padding-left: 0%;
        padding-right: 0%;
        font-size: 90%;
    }

    .col-lg-5 {
        max-width: 100%;
    }

    .project-title-container {
        padding-top: 200px;
    }

    #projects-div {
        padding-bottom: 200px;
    }

    #intro-div {
        padding-top: 5%;
    }

    .wio {
        font-size: 50pt;
    }

    #footer {
        font-size: 90%;
    }

}

@media only screen and (max-width:397px) {
    #intro-div {
        padding-top: 20%;
    }
}